@import "style";

$primary-color: #fff;
$second-color: rgba(255, 255, 255, 0.163);
$height: 84px;
$widht: 785px;
$radiuns: 18px;

* {
	margin: 0;
	color: $color_1;
	font-family: $font-family_1;
}
body {
	background-image: linear-gradient(to right, #0360EB, #222);
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ft {
	border-radius: 80%;
	width: 200px;
	height: 200px;
}
.flex_text {
	display: block;
	text-align: center;
	color: $color_1;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px;
}
.flex_detail {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.detail {
	display: flex;
	border: 1px solid #d7d7d794;
	background: #d7d7d779;
	border-radius: 50px;
	width: 77px;
	height: 29px;
	align-items: center;
	justify-content: center;
}
.ball_detail {
	position: absolute;
	left: 48%;
	display: flex;
	background-color: $background-color_1;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	width: 70%;
	a {
		text-decoration: none;
		font-size: 17px;
		width: 100%;
	}
}
.button1 {
	display: flex;
	background: rgba(255, 255, 255, 0.163);
	height: 74px;
	margin-bottom: 26px;
	border-radius: 17px;
	justify-content: center;
	align-items: center;
	border: 1px solid #d7d7d794;
}
.flex_icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 26px;
}
.icons {
	display: flex;
	gap: 35px;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color_1;
	font-size: 20px;
}
@media only screen and (max-width: 750px) {
	.ball_detail {
		position: absolute;
		left: 50%;
	}
}
